.Reproductor{
    height: 10vh;  
    display: flex;
    flex-direction: row;  
}
.infoReproductor{
    width: 200px;

    padding: 15px;
    background: #EB5757;
    color: white;
    font-size: 13px;
}
audio{
    background: #EB5757;
    width: 100%;
    height: 10vh;
}
audio::-webkit-media-controls-panel{
    background: #EB5757;
    /* height: 10vh; */
}
