
.title {
    width: 111px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.subtitle {
    width: 56px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    height: '200px';
}